# Unsupervised Lab Session

## Learning outcomes:
- Exploratory data analysis and data preparation for model building.
- PCA for dimensionality reduction.
- K-means and Agglomerative Clustering

## Problem Statement
Based on the given marketing campigan dataset, segment the similar customers into suitable clusters. Analyze the clusters and provide your insights to help the organization promote their business.

## Context:
- Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.
- Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

## About dataset
- Source: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis?datasetId=1546318&sortBy=voteCount

### Attribute Information:
- ID: Customer's unique identifier
- Year_Birth: Customer's birth year
- Education: Customer's education level
- Marital_Status: Customer's marital status
- Income: Customer's yearly household income
- Kidhome: Number of children in customer's household
- Teenhome: Number of teenagers in customer's household
- Dt_Customer: Date of customer's enrollment with the company
- Recency: Number of days since customer's last purchase
- Complain: 1 if the customer complained in the last 2 years, 0 otherwise
- MntWines: Amount spent on wine in last 2 years
- MntFruits: Amount spent on fruits in last 2 years
- MntMeatProducts: Amount spent on meat in last 2 years
- MntFishProducts: Amount spent on fish in last 2 years
- MntSweetProducts: Amount spent on sweets in last 2 years
- MntGoldProds: Amount spent on gold in last 2 years
- NumDealsPurchases: Number of purchases made with a discount
- AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- Response: 1 if customer accepted the offer in the last campaign, 0 otherwise
- NumWebPurchases: Number of purchases made through the company’s website
- NumCatalogPurchases: Number of purchases made using a catalogue
- NumStorePurchases: Number of purchases made directly in stores
- NumWebVisitsMonth: Number of visits to company’s website in the last month

### 1. Import required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Load the CSV file (i.e marketing.csv) and display the first 5 rows of the dataframe. Check the shape and info of the dataset.

In [2]:
df = pd.read_csv(r'marketing.csv')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,3,6,5,0,0,0,0,0,0,0

In [3]:
df.shape

(2240, 27)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Response             2240 non-null   int64
dtypes: float64(1), int64(23), object(3)
memory usage: 472.6+ KB

### 3. Check the percentage of missing values? If there is presence of missing values, treat them accordingly.

In [6]:
df.isnull().sum()/len(df)*100

ID                     0.000000
Year_Birth             0.000000
Education              0.000000
Marital_Status         0.000000
Income                 1.071429
Kidhome                0.000000
Teenhome               0.000000
Dt_Customer            0.000000
Recency                0.000000
MntWines               0.000000
MntFruits              0.000000
MntMeatProducts        0.000000
MntFishProducts        0.000000
MntSweetProducts       0.000000
MntGoldProds           0.000000
NumDealsPurchases      0.000000
NumWebPurchases        0.000000
NumCatalogPurchases    0.000000
NumStorePurchases      0.000000
NumWebVisitsMonth      0.000000
AcceptedCmp3           0.000000
AcceptedCmp4           0.000000
AcceptedCmp5           0.000000
AcceptedCmp1           0.000000
AcceptedCmp2           0.000000
Complain               0.000000
Response               0.000000
dtype: float64

In [ ]:
#Income has 1.07% of missing values

### 4. Check if there are any duplicate records in the dataset? If any drop them.

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Response]
Index: []

[0 rows x 27 columns]

In [ ]:
# As per above, there are no duplicates

### 5. Drop the columns which you think redundant for the analysis

In [8]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Response'],
      dtype='object')

In [79]:
df = df.drop(['ID','Dt_Customer'], axis=1)

,Year_Birth,Education,Marital_Status,Income,Recency,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp,age
0,1957,2,0,58138.0,58,7,0,1617,25,0,1,66
1,1954,2,0,46344.0,38,5,0,27,6,2,0,69
2,1965,2,1,71613.0,26,4,0,776,21,0,0,58
3,1984,2,1,26646.0,26,6,0,53,8,1,0,39
4,1981,4,1,58293.0,94,5,0,422,19,1,0,42
...,...,...,...,...,...,...,...,...,...,...,...,...
2235,1967,2,1,61223.0,46,5,0,1341,18,1,0,56
2236,1946,4,1,64014.0,56,7,0,444,22,3,1,77
2237,1981,2,0,56981.0,91,6,0,1241,19,0,1,42
2238,1956,3,1,69245.0,8,3,0,843,23,1,0,67
2239,1954,4,1,52869.0,40,7,0,172,11,2,1,69

In [ ]:
##Dropping ID and Dt_Customer since those are the only columns that seems may not be used for clustering

### 6. Check the unique categories in the column 'Marital_Status'
- i) Group categories 'Married', 'Together' as 'relationship'
- ii) Group categories 'Divorced', 'Widow', 'Alone', 'YOLO', and 'Absurd' as 'Single'.

In [10]:
df['Marital_Status'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [26]:
df['Marital_Status'] = df['Marital_Status'].replace(['Divorced', 'Widow', 'Alone', 'YOLO', 'Absurd'],'Single')

In [28]:
df['Marital_Status'] = df['Marital_Status'].replace(['Married', 'Together'],'relationship')

In [29]:
df['Marital_Status'].unique()

array(['Single', 'relationship'], dtype=object)

### 7. Group the columns 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', and 'MntGoldProds' as 'Total_Expenses'

In [13]:
column_series = pd.Series(df.columns)

In [19]:
req_columns = column_series[column_series.str.contains('Mnt')].values.tolist()

In [24]:
df['Total_Expenses'] = df[req_columns].sum(axis=1)

In [25]:
df['Total_Expenses']

0       1617
1         27
2        776
3         53
4        422
        ...
2235    1341
2236     444
2237    1241
2238     843
2239     172
Name: Total_Expenses, Length: 2240, dtype: int64

### 8. Group the columns 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', and 'NumDealsPurchases' as 'Num_Total_Purchases'

In [30]:
column_series = pd.Series(df.columns)

In [31]:
req_columns = column_series[column_series.str.contains('Num.*Purchases')].values.tolist()

In [32]:
df['Num_Total_Purchases'] = df[req_columns].sum(axis=1)

In [33]:
df['Num_Total_Purchases']

0       25
1        6
2       21
3        8
4       19
        ..
2235    18
2236    22
2237    19
2238    23
2239    11
Name: Num_Total_Purchases, Length: 2240, dtype: int64

### 9. Group the columns 'Kidhome' and 'Teenhome' as 'Kids'

In [34]:
column_series = pd.Series(df.columns)

In [35]:
req_columns = column_series[column_series.str.contains('home')].values.tolist()

In [36]:
df['Kids'] = df[req_columns].sum(axis=1)

In [37]:
df['Kids']

0       0
1       2
2       0
3       1
4       1
       ..
2235    1
2236    3
2237    0
2238    1
2239    2
Name: Kids, Length: 2240, dtype: int64

### 10. Group columns 'AcceptedCmp1 , 2 , 3 , 4, 5' and 'Response' as 'TotalAcceptedCmp'

In [41]:
column_series = pd.Series(df.columns)

In [57]:
req_columns = column_series[column_series.str.contains('(AcceptedCmp|Response)')].values.tolist()

/var/folders/n5/g9g24h1n033dpy8zyyt5bz4c0000gn/T/ipykernel_88191/2581520893.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  req_columns = column_series[column_series.str.contains('(AcceptedCmp|Response)')].values.tolist()

In [58]:
req_columns

['AcceptedCmp3',
 'AcceptedCmp4',
 'AcceptedCmp5',
 'AcceptedCmp1',
 'AcceptedCmp2',
 'Response']

In [59]:
df['TotalAcceptedCmp'] = df[req_columns].sum(axis=1)

In [60]:
df['TotalAcceptedCmp']

0       1
1       0
2       0
3       0
4       0
       ..
2235    0
2236    1
2237    1
2238    0
2239    1
Name: TotalAcceptedCmp, Length: 2240, dtype: int64

### 11. Drop those columns which we have used above for obtaining new features

In [62]:
df = df.drop(['AcceptedCmp1','AcceptedCmp2','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','Response','Kidhome','Teenhome','NumWebPurchases','NumCatalogPurchases','NumStorePurchases','NumDealsPurchases','MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts','MntGoldProds'],axis=1)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Dt_Customer          2240 non-null   object
 6   Recency              2240 non-null   int64
 7   NumWebVisitsMonth    2240 non-null   int64
 8   Complain             2240 non-null   int64
 9   Total_Expenses       2240 non-null   int64
 10  Num_Total_Purchases  2240 non-null   int64
 11  Kids                 2240 non-null   int64
 12  TotalAcceptedCmp     2240 non-null   int64
dtypes: float64(1), int64(9), object(3)
memory usage: 227.6+ KB

### 12. Extract 'age' using the column 'Year_Birth' and then drop the column 'Year_birth'

In [66]:
import datetime

In [68]:
df['age'] = datetime.datetime.today().year - df['Year_Birth']

In [69]:
df['age']

0       66
1       69
2       58
3       39
4       42
        ..
2235    56
2236    77
2237    42
2238    67
2239    69
Name: age, Length: 2240, dtype: int64

### 13. Encode the categorical variables in the dataset

In [74]:
##Label encoding
from sklearn.preprocessing import LabelEncoder
cate = ['Education','Marital_Status']

In [75]:
lbl_encode = LabelEncoder()

In [76]:
for i in cate:
    df[i] = df[[i]].apply(lbl_encode.fit_transform)

In [97]:
df['Income'] = df['Income'].fillna(0)

In [83]:
df.info()
## The label encoder has been applied to Education and Marital_Status

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           2240 non-null   int64
 1   Education            2240 non-null   int64
 2   Marital_Status       2240 non-null   int64
 3   Income               2216 non-null   float64
 4   Recency              2240 non-null   int64
 5   NumWebVisitsMonth    2240 non-null   int64
 6   Complain             2240 non-null   int64
 7   Total_Expenses       2240 non-null   int64
 8   Num_Total_Purchases  2240 non-null   int64
 9   Kids                 2240 non-null   int64
 10  TotalAcceptedCmp     2240 non-null   int64
 11  age                  2240 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 210.1 KB

### 14. Standardize the columns, so that values are in a particular range

In [98]:
from sklearn.preprocessing import StandardScaler

#Standardization
df1 = df.copy()
scaled_features = StandardScaler().fit_transform(df1.values)
scaled_features_df = pd.DataFrame(scaled_features, index=df1.index, columns=df1.columns)

In [99]:
scaled_features_df

,Year_Birth,Education,Marital_Status,Income,Recency,NumWebVisitsMonth,Complain,Total_Expenses,Num_Total_Purchases,Kids,TotalAcceptedCmp,age
0,-0.985345,-0.350141,-1.346874,0.251939,0.307039,0.693904,-0.097282,1.679417,1.320826,-1.264505,0.621248,0.985345
1,-1.235733,-0.350141,-1.346874,-0.208699,-0.383664,-0.130463,-0.097282,-0.961275,-1.154596,1.396361,-0.501912,1.235733
2,-0.317643,-0.350141,0.742460,0.778231,-0.798086,-0.542647,-0.097282,0.282673,0.799685,-1.264505,-0.501912,0.317643
3,1.268149,-0.350141,0.742460,-0.978043,-0.798086,0.281720,-0.097282,-0.918094,-0.894025,0.065928,-0.501912,-1.268149
4,1.017761,1.428354,0.742460,0.257992,1.550305,-0.130463,-0.097282,-0.305254,0.539114,0.065928,-0.501912,-1.017761
...,...,...,...,...,...,...,...,...,...,...,...,...
2235,-0.150717,-0.350141,0.742460,0.372429,-0.107383,-0.130463,-0.097282,1.221032,0.408829,0.065928,-0.501912,0.150717
2236,-1.903435,1.428354,0.742460,0.481437,0.237969,0.693904,-0.097282,-0.268717,0.929970,2.726794,0.621248,1.903435
2237,1.017761,-0.350141,-1.346874,0.206750,1.446700,0.281720,-0.097282,1.054951,0.539114,-1.264505,0.621248,-1.017761
2238,-1.068807,0.539106,0.742460,0.685744,-1.419719,-0.954831,-0.097282,0.393948,1.060255,0.065928,-0.501912,1.068807
2239,-1.235733,1.428354,0.742460,0.046147,-0.314594,0.693904,-0.097282,-0.720458,-0.503169,1.396361,0.621248,1.235733

### 15. Apply PCA on the above dataset and determine the number of PCA components to be used so that 90-95% of the variance in data is explained by the same.

In [100]:
##Step 1
cov_matrix = np.cov(scaled_features_df.T)
cov_matrix

array([[ 1.00044663, -0.17146685,  0.0042384 , -0.15496032, -0.01987996,
         0.12119336, -0.030141  , -0.11135611, -0.16837908, -0.09023955,
         0.00830618, -1.00044663],
       [-0.17146685,  1.00044663, -0.01375403,  0.11771325, -0.01173369,
        -0.04029882, -0.05056252,  0.09209518,  0.09405439,  0.05321304,
         0.06327892,  0.17146685],
       [ 0.0042384 , -0.01375403,  1.00044663,  0.00733686, -0.00450972,
         0.00344176, -0.00520466, -0.01775232,  0.00671037,  0.03917598,
        -0.06004206, -0.0042384 ],
       [-0.15496032,  0.11771325,  0.00733686,  1.00044663, -0.01060766,
        -0.53569091, -0.02449955,  0.65444582,  0.55599284, -0.29306798,
         0.2845784 ,  0.15496032],
       [-0.01987996, -0.01173369, -0.00450972, -0.01060766,  1.00044663,
        -0.02145427,  0.01323699,  0.02044173,  0.00574294,  0.01806145,
        -0.08900203,  0.01987996],
       [ 0.12119336, -0.04029882,  0.00344176, -0.53569091, -0.02145427,
         1.00044663,  0.01977734, -0.50044131, -0.31242795,  0.41860616,
        -0.12836726, -0.12119336],
       [-0.030141  , -0.05056252, -0.00520466, -0.02449955,  0.01323699,
         0.01977734,  1.00044663, -0.03707503, -0.02059185,  0.03108014,
        -0.01761676,  0.030141  ],
       [-0.11135611,  0.09209518, -0.01775232,  0.65444582,  0.02044173,
        -0.50044131, -0.03707503,  1.00044663,  0.75423984, -0.49911047,
         0.4564099 ,  0.11135611],
       [-0.16837908,  0.09405439,  0.00671037,  0.55599284,  0.00574294,
        -0.31242795, -0.02059185,  0.75423984,  1.00044663, -0.24589955,
         0.25816052,  0.16837908],
       [-0.09023955,  0.05321304,  0.03917598, -0.29306798,  0.01806145,
         0.41860616,  0.03108014, -0.49911047, -0.24589955,  1.00044663,
        -0.25387372,  0.09023955],
       [ 0.00830618,  0.06327892, -0.06004206,  0.2845784 , -0.08900203,
        -0.12836726, -0.01761676,  0.4564099 ,  0.25816052, -0.25387372,
         1.00044663, -0.00830618],
       [-1.00044663,  0.17146685, -0.0042384 ,  0.15496032,  0.01987996,
        -0.12119336,  0.030141  ,  0.11135611,  0.16837908,  0.09023955,
        -0.00830618,  1.00044663]])

In [101]:
eig_vals, eig_vectors = np.linalg.eig(cov_matrix)
print('eigein vals:','\n',eig_vals)
print('\n')
print('eigein vectors','\n',eig_vectors)

eigein vals:
 [3.23881961e+00 2.03995544e+00 9.12760896e-16 1.59583545e-01
 3.51444368e-01 5.75880710e-01 7.52897095e-01 8.43979014e-01
 1.07697756e+00 9.38408269e-01 1.02612769e+00 1.00128623e+00]


eigein vectors
 [[ 1.83810041e-01 -6.43904168e-01  7.07106781e-01 -4.45389902e-03
  -2.37180569e-02 -3.91239877e-02 -1.09591094e-01  8.34426139e-02
   2.77578169e-02 -1.54677920e-01 -6.90842860e-02  3.23566108e-02]
 [-9.75498944e-02  1.91105254e-01 -9.63109314e-17 -1.32727159e-02
  -1.97736909e-02  1.20976251e-01  2.04046065e-01  5.04037717e-01
   4.52697356e-01 -5.68461199e-01 -2.59757548e-01  2.17978326e-01]
 [ 1.53482016e-02  1.36362157e-02 -3.06992006e-17 -3.76584377e-04
  -5.59993387e-03  4.88930800e-03  2.36323477e-01 -1.08396963e-01
  -2.46515587e-01 -1.46470783e-01 -6.63639815e-01 -6.39752267e-01]
 [-4.43475222e-01 -4.85274310e-02 -1.05064940e-17 -9.58122926e-02
   7.34876436e-01 -3.86718095e-01 -2.78422373e-01  1.09417551e-01
  -4.50149897e-02 -5.96214492e-02 -7.92065385e-02 -2.92335090e-02]
 [ 3.18594376e-03  3.77449141e-02 -4.96713554e-17 -3.79876387e-02
   2.65810230e-02 -5.83654607e-02  2.04735255e-01 -2.61166076e-01
  -6.10755102e-01 -3.34275642e-01 -1.69476576e-01  6.07783250e-01]
 [ 3.69871839e-01  7.34331290e-02 -2.42681682e-16  1.07509503e-01
   5.22532574e-01  4.56216304e-01 -7.98114793e-02 -4.79502722e-01
   2.51124553e-01 -2.49888974e-01  4.90523803e-02 -2.93868711e-02]
 [ 2.37590060e-02  4.74478148e-02 -4.20958399e-17  6.49770852e-03
   4.59661374e-04  2.54002782e-02  3.60796463e-02  2.09784398e-01
  -3.68999084e-01 -5.16308354e-01  6.20710554e-01 -4.03942002e-01]
 [-4.98868684e-01 -1.36263050e-01 -1.01749279e-16  8.06306292e-01
  -1.29514665e-01  1.79042107e-01 -8.43962094e-02 -1.37883959e-01
  -9.30551584e-04 -8.62113408e-02 -4.34773044e-03  3.94799010e-03]
 [-4.25090349e-01 -2.73886408e-02  2.04439141e-16 -5.09816996e-01
  -2.93989486e-01  3.85896495e-01 -4.81207857e-01 -2.25974010e-01
   6.16988451e-04 -1.87730484e-01 -6.53642245e-02 -3.38808557e-02]
 [ 2.98635809e-01  2.78516564e-01 -3.13637811e-16  1.89345251e-01
  -2.64000790e-01 -5.42391891e-01 -5.32358180e-01 -1.92511531e-01
   1.19744420e-01 -2.95196254e-01 -1.05188206e-01 -2.23190027e-02]
 [-2.64331199e-01 -1.60484077e-01  2.29042954e-16 -1.77948361e-01
  -1.08452000e-01 -3.81290467e-01  4.78852684e-01 -5.08941583e-01
   3.79660630e-01 -1.82805798e-01  2.11005397e-01 -7.18271744e-02]
 [-1.83810041e-01  6.43904168e-01  7.07106781e-01  4.45389902e-03
   2.37180569e-02  3.91239877e-02  1.09591094e-01 -8.34426139e-02
  -2.77578169e-02  1.54677920e-01  6.90842860e-02 -3.23566108e-02]]

### 16. Apply K-means clustering and segment the data (Use PCA transformed data for clustering)

### 17. Apply Agglomerative clustering and segment the data (Use Original data for clustering), and perform cluster analysis by doing bivariate analysis between the cluster label and different features and write your observations.

### Visualization and Interpretation of results

-----
## Happy Learning
-----